<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
      <sectionGroup name="system.webServer">
          <sectionGroup name="rewrite">
              <section name="rewriteMaps" overrideModeDefault="Allow" />
              <section name="rules" overrideModeDefault="Allow" />
          </sectionGroup>
      </sectionGroup>
  </configSections>

  <system.webServer>
    <rewrite>
      <rules>
        <rule name="rule 1b" stopProcessing="true">
          <match url="^$"  />
          <action type="Rewrite" url="public/"  />
        </rule>
        <rule name="rule 2b" stopProcessing="true">
          <match url="(.*)"  />
          <action type="Rewrite" url="public/{R:1}"  />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

</configuration>